
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/jpeg" href="">
        <title>Houdini | Login</title>
    </head>
    <body>
        {% if success_message != '' %}
        <div class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}
        {% if error_message != '' %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
        {% endif %}
        <br>
        <h3 class="text-center" style='height: 9vh;'>
            Login
        </h3>
        <div class="container text-center d-flex justify-content-center">
            <form action="/login" name='login' method="POST" onsubmit="">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm text-center" id="username" name="username" oninput="check_username();" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm text-center" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group"> 
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
            </form>
        </div>
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
        <script>
        grecaptcha.ready(async function (){
            const token = await grecaptcha.execute('{{ site_key }}', { 
                action: 'login' 
            })
            const recaptchaResponse = document.getElementById('recaptchaResponse')
            document.getElementById('recaptchaResponse').value = token
        })
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="/static/js/checks.js"></script>
    </body>
</html>