
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="icon" type="image/jpeg" href="">
        <title>Houdini | Panel</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item">Logged in as <strong> {{ penguin.username }}</strong></a>
                            <a href="/manager" class="dropdown-item">Go To Panel</a>
                            <a href="/manager/password" class="dropdown-item">Change Password</a>
                            <a href="/manager/email" class="dropdown-item">Change Email</a>
                            <a href="/manager/logout" class="dropdown-item">
                                <div class="dropdown-divider"></div>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% if success_message != '' %}
        <div class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}
        {% if error_message != '' %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
        {% endif %}
        <br>
        <h3 class="text-center" style='height: 9vh;'>
            Verify Players:
        </h3>
          <div class="container text-center d-flex justify-content-center">
                <h4>Search: </h4>
                </div>
                <div class="container text-center d-flex justify-content-center">
                <form action="/manager/verify/search" name='verify' method="POST" style='width: 20vw;' onsubmit="">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm text-center" id="username" name="username" oninput="check_username();" placeholder="Search Username" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" style='font-size: 2vh;'type="submit">Search</button>
                        </div>
                        <input type="hidden" name="language" id="language" value='{{ language }}'>
                </form>

                </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% if language == 'en' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/en" role="tab" aria-controls="nav-verify" aria-selected="true">English</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/en" role="tab" aria-selected="false">English</a>
                {% endif %}
                {% if language == 'de' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/de" role="tab" aria-controls="nav-verify" aria-selected="true">German</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/de" role="tab" aria-selected="false">German</a>
                {% endif %}
                {% if language == 'es' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/es" role="tab" aria-controls="nav-verify" aria-selected="true">Spanish</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/es" role="tab" aria-selected="false">Spanish</a>
                {% endif %}
                {% if language == 'fr' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/fr" role="tab" aria-controls="nav-verify" aria-selected="true">French</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/fr" role="tab" aria-selected="false">French</a>
                {% endif %}
                {% if language == 'pt' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/pt" role="tab" aria-controls="nav-verify" aria-selected="true">Portuguese</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/pt" role="tab" aria-selected="false">Portuguese</a>
                {% endif %}
                {% if language == 'ru' %}
                <a class="nav-item nav-link show active" id="nav-verify-tab" data-toggle="tab" href="/manager/verify/ru" role="tab" aria-controls="nav-verify" aria-selected="true">Russian</a>
                {% else %}
                <a class="nav-item nav-link" href="/manager/verify/ru" role="tab" aria-selected="false">Russian</a>
                {% endif %}
            </div>
        </nav>
        <div class="container text-center d-flex justify-content-center">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-verify" role="tabpanel" aria-labelledby="nav-verify-tab">
                    <br>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for page_number in unverified_penguins %}
                        {% if page_number == 1 %}
                            <a class="nav-item nav-link active" id="page_{{ page_number }}-tab" data-toggle="tab" href="#page_{{ page_number }}" role="tab" aria-controls="page_{{ page_number }}" aria-selected="true">
                                {{ page_number }}
                            </a>
                        {% else %}
                            <a class="nav-item nav-link" id="page_{{ page_number }}-tab" data-toggle="tab" href="#page_{{ page_number }}" role="tab" aria-controls="page_{{ page_number }}" aria-selected="false">
                                {{ page_number }}
                            </a>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <br>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                    {% for page_number in unverified_penguins %}
                    {% if page_number == 1 %}
                        <div class="tab-pane fade show active" id="page_{{ page_number }}" role="tabpanel" aria-labelledby="page_{{ page_number }}-tab">
                    {% else %}
                            <div class="tab-pane fade" id="page_{{ page_number }}" role="tabpanel" aria-labelledby="page_{{ page_number }}-tab">
                    {% endif %}
                    {% for penguin in unverified_penguins[page_number] %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="row">
                                                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{ penguin.registration_date }}">
                                                    {{ penguin.username }}
                                                  </button>
                                            </th>
                                            <th scope="row">
                                                <form action="/manager/verify/approve/{{ penguin.id }}" name='verify' method="POST" onsubmit="">
                                                    <input type="hidden" name="language" id="language" value='{{ language }}'>
                                                    <input type="submit" value="Approve" class="btn btn-success">
                                                </form>
                                            </th>
                                            <th scope="row">
                                                <form action="/manager/verify/reject/{{ penguin.id }}" name='verify' method="POST" onsubmit="">
                                                    <input type="hidden" name="language" id="language" value='{{ language }}'>
                                                    <input type="submit" value="Reject" class="btn btn-danger">
                                                </form>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                    {% endfor %}
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/manager/static/js/checks.js"></script>
    </body>
</html>