input[type="password"],
input[type="text"] {
  width: 40vh; 
  height: 6vh; 
  padding: 15px;
  border: 1px solid #dddddd;;
  box-sizing:border-box;
}
input[type="submit"]{
  font-size: 2vh;
}

h5{
  color: white;
}

h6{
  font-size: 1.25vw;
}

.table{
  display: block !important;
  overflow-x: auto !important;
  width: 100% !important;
}
  